{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">VotingApp</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="{% url 'polls:index' %}">Topics</a>
              <a class="nav-link" href="{% url 'users:topics' %}">Owner Topics</a>
              <a class="nav-link" href="{% url 'users:perfil' %}">Perfil</a>
            </div>
          </div>
        </div>
      </nav>

    <main class="container" style="height: 85vh;">
        <div class="py-5">
            {% block header %} {%  endblock header %}
        </div>
        <div>
            {% block extend %}{% endblock extend %}
        </div>
    </main>
    
    <footer class="footer">
        <div class="text-center">
            Made by @jaquiso
        </div>
    </footer>
</body>
</html>

