{% extends 'polls/base.html' %}

{% block header %}
    <header class="ehader">
        <h2>Public Topics</h2>

    </header>
    <p>Add a topic:  <a href="{% url 'polls:add_question' %}">click</a> </p>
{% endblock header %}

{% block extend %}
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url  'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock extend %}