{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="mx-5">
        <h2>Sign in to your account.</h2>
    <form method="post" action="{% url 'users:login' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% block buttons %}
        <div class="text-center larger">
            <button name="submit" class="btn btn-primary" style="width: 100%;">SIGN IN</button>
        </div>
            
        {% endblock buttons %}
    </form>
    <span>No have a account? <a href="{% url 'users:register' %}" style="text-decoration: none">
        SIGN UP.</a></span>
</div>
    
